body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.text-blue {
  color: #3252DF !important; 
  /* background-color: black; */
}

.active {
 color : #3252DF !important;
}

.container-fluid {
  background-color: white;
}

.content-frist {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: bold;
}

.text-42 {
  font-size: 42px;
}

.w-63 {
  width: 63%;
}

.text-16 {
font-size: 16px;
}

.bg-blue {
  background-color: #3252DF;
}

.text-20 {
  font-size: 20px;
}

.text-15 {
  font-size: 15px;
} 

.text-24 {
  font-size: 24px;
} 

.text-32 {
  font-size: 32px;
} 

.text-18 {
  font-size: 18px;
}

.text-26 {
  font-size: 26px;
}