* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: pink;
}
header {
  text-align: center;
  color: green;
  padding: 20px;
  font-size: 25px;
}

.container ul{
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  font-size: 20px;
}

.image img{
  width: 100%;
  height: auto;
  background-color: pink;
}

footer {
  color: white;
  background-color: black;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}