body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.text-blue {
  color: #3252DF !important; 
  /* background-color: black; */
}

.active {
 color : #3252DF !important;
}

.container-fluid {
  background-color: white;
}

.content-frist {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: bold;
}