* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(236, 228, 228);
}

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  color: black;
}

.twiter {
  width: 200px;
  height: 200px;
  background-image: url(img/twitter.png);
  /* background-repeat: no-repeat; */
  /* display: inline-block; */
  /* text-indent: -9999px; */
  position: absolute;
  top: 55px;
  right: 32px;
}

header {
  text-align: center;
  color: green;
  padding: 20px;
  font-size: 25px;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: pink;
  border-bottom: 3px solid black;
  z-index: 9999;
}

.container {
  width: 950px;
  margin: 80px auto;
  background-color: white;
}

.container ul{
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  font-size: 20px;
}

.container li {
  margin-right: 25px;
  list-style:none;
}


.image {
  height: 350px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: 0 -20px;
  border-top: 7px solid rgb(55, 55, 168);
  border-bottom: 7px solid salmon;
}

.content {
  padding-top: 20px;
  margin-left: 25px;
  /* float: left; */
  /* display: flex; */
}

/* .kiri, .kanan {
  flex: 1;
} */

.kiri {
  width: 600px;
  padding: 10px;
  box-sizing: border-box;
  float: left;
}

.clear {
  clear:both;
}

.kanan {
  width: 250px;
  float: right;
  padding: 10px;
  text-align: justify;
}

.kanan img {
  width: 70px;
  height: 70px;
  float: left;
  padding-right: 10px;
}


footer {
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}